.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 79px -79px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -211px 431px 60px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 245px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -81px;
  }
}